body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('IMG_4820.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 5em;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

p {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: block;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  text-transform: none;
}

nav a:hover {
  color: #ccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #111;
  border-radius: 8px;
  overflow: hidden;
  min-width: 150px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-align: left;
  color: white;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-top: 1px solid #333;
}
